body {
  margin: 0;
}

.logo {
  float: left;
  margin-top: 5px;
  transition: transform 0.5s;
}
  
.logo:hover {
  transform: translateY(-5px);
}

.menu {
  float: right;
  margin-top: 8px;
  margin-right: 10px;
  transition: transform 0.5s;
  padding-left: 10px;
}

.menu:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.topnav {
  background-color: #212121;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;  
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.podstranky a {
  padding: 14px 16px;
  }
  
.podstranky a:hover {
  background-color: #61c8c1;
  color: #212121;
  font-weight: bold;
}

#zakliknute a{
  background-color: #61c8c1;
  color: #212121;
  font-weight: bold;
}

button {
  float: inline-start;
  border: 1px solid #212121;
  font-size: 17px;
  background-color:#212121 ;
  padding: 10px 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transition: transform 0.5s;
}

button:hover {
  background-color: #61c8c1;
  border: 1px solid #ffffff; 
  color: #ffffff;
  font-weight: bolder;
  cursor: pointer;
  transform: translateY(-5px);
}

span.cena {
  color: #61c8c1;
  margin-left: 15px;
  font-size: 25px;        
}

span.dph {
  font-size: 13px;
  color: #868686;
  font-weight: lighter;
}

.produkty img {
  width: 20%;
  float: left;
  padding-left: 50px;
  padding-right: 15px;
  padding-top: 150px;
  transition: transform 0.5s;
}

.produkty img:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.notebook {
  padding-top: 150px;
  padding-bottom: 150px;
  padding-right: 100px;
    
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-shadow: 10px 5px 4px #00000034;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  color:#212121 ;
  font-size: 27px;
  text-shadow: 1px 5px 4px #00000034;
  padding-top: 10px;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color:#212121;    
}

h5 {
  font-family: Arial, Helvetica, sans-serif;    
  font-weight: lighter;
  font-size: 15px;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.produkty p {
  word-spacing: 1px;
  letter-spacing: 0.3px;
  line-height:normal;
  text-align: justify;
  text-indent: 15px;
}

.notebooky{
  width: 100%;
  padding-top: 1px;
  background-color: #61c8c1;
  background-position: center;
  background-size: cover;    
  box-sizing: border-box;
  padding-bottom: 10px;
  background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(37, 145, 131, 0.466)), url(../images/background.png);
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: 1px solid #ffffff; 
  outline: none; 
  background-color: #61c8c1;
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

#myBtn:hover {
  background-color: #212121;
}

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}